h2 {
    font-size: 2rem;

    margin: 20px 0;
}

body {
    background-color: rgb(166, 227, 255);

}

header h1 {
    text-align: center;

    color: black;

    font-size: 3.5rem;
}

header h1 img {
    width: 45px;
    height: 45px;

    margin-left: 5px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: auto;
    max-width: 505px;
    margin: auto;
    margin-bottom: 20px;
}

.search-container input {
    width: 410px;
    height: 30px;

    text-align: center;

    border: 2px solid black;
    border-radius: 8px;

    color: black;
    background-color: whitesmoke;

    box-shadow: -10px 11px 5px darkslategrey;
}

.search-container input, button:focus {
    outline: none;
}

.search-container button {
    height: 35px;

    border-radius: 8px;
    border-color: black;

    background-color: whitesmoke;

    color: black;

    box-shadow: -10px 11px 5px darkslategrey;

    cursor: pointer;

}

.search-container button:hover {
    transition: 2s;
    background-color: black;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.data-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.data-container .statistics, .users {
    width: 100%;
    max-width: 500px;
    height: auto;

    margin-bottom: 20px;

    border: 2px solid black;
    border-radius: 8px;
    background-color: whitesmoke;

    box-shadow: -10px 11px 5px darkslategrey;

    text-align: center;
}

.data-container .statistics .data {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 20px;
    
}

.data-container .statistics .data span {
    font-weight: bold;
}

.data-container .users .user {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px 20px;
}

.data-container .users .user img {
    
    border: 2px solid black;
    border-radius: 50%;
}

.data-container .users .user .name {
    font-size: 1.3em;
}